<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Computer Bucket</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @*<link href="~/Content/Site.css" rel="stylesheet" />*@
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>


    <div class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="Home">Computer Bucket</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active">@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("BuildPC", "Index", "BuildPC")</li>
                    <li>@Html.ActionLink("Help", "Index", "Help")</li>
                    <li>@Html.ActionLink("Contact", "Index", "Contact")</li>
                    <li>@Html.ActionLink("About", "Index", "About")</li>
                </ul>
            </div>
        </div>
    </div>



    @RenderBody()
    @*<footer class=" container">*@
    <footer>
        <p>© ComputerBucket 2013</p>
    </footer>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")  @* necessary for Ajax.BeginForm() *@
    @RenderSection("scripts", required: false)
    <script>
        /* Update the current page with the 'active' class to reflect this to navbar.
           This is done by looking for the link that references the current page and
           setting its parent (a <li> tag) to have 'active' class
        */
        $(function () {
            $('a[href="' +
                this.location.pathname + '"]').parent().addClass('active');
        });
    </script>

</body>
</html>
