<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Computer Bucket</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />


    @*Bootstrap theme taken from Bootswswatch.com, modified*@
    <link href="~/Content/Site.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")


    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="~/Home/Index">
                    <img id="logoImage" src="~/Images/Logo.png" />
                </a>

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("BuildPC", "Index", "BuildPC")</li>
                    <li>@Html.ActionLink("Products", "SearchProducts", "Home")</li>
                    <li>@Html.ActionLink("Help", "Index", "Help")</li>
                    <li>@Html.ActionLink("Contact", "Index", "Contact")</li>
                    <li>@Html.ActionLink("About", "Index", "About")</li>
                </ul>
                @using (Html.BeginForm("SearchProducts", "Home", FormMethod.Get, new { @id = "search" }))
                {
                    @Html.TextBox("searchTerm")
                }

                <ul class="nav navbar-nav navbar-right">
                    @*<li style="margin: 8px 15px 0 0;">
                            Items(0)
                        </li>*@

                    <li id="basket" onclick="location.href='@Url.Action("Index", "Orders")'">
                        @*<li style="margin: 8px 15px 0 0;" onclick="@Html.Action("Index", "Orders")">*@
                        Items(@Html.Action("getNumberOfItems", "Orders"))
                        <img src="/../Images/cart.png" data-toggle="tooltip" title="Shop Basket" />

                    </li>

                </ul>
            </div>
        </div>
    </div>


    <br />
    <br />
    <br />
    <div id="wrap">
        <div id="main" class="container">
            <div class="row">
                @RenderBody()
            </div>
        </div>
    </div>
    <div style="min-height: 100%;"></div>
    <footer>
        <div class="container">
            <div id="site_links_footer">
                <img src="~/Images/itsligo.png" style="al" />
                <div id="border_bright"></div>
            </div>


            <p>© ComputerBucket 2014</p>
        </div>
    </footer>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")  @* necessary for Ajax.BeginForm() *@
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/tooltip.js"></script>
    <script>
        /* Update the current page with the 'active' class to reflect this to navbar.
           This is done by looking for the link that references the current page and
           setting its parent (a <li> tag) to have 'active' class
        */
        $(function () {
            $('a[href="' +
                this.location.pathname + '"]').parent().addClass('active');
        });
    </script>

</body>
</html>
