@model computerbucket.Orders

@{
    ViewBag.Title = "Details";
}

<h2>@ViewBag.OrderStatus</h2>

<fieldset>
    <legend>blabla</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OrderID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OrderID)
    </div>

@*    <div class="display-label">
         @Html.DisplayNameFor(model => model.Customers.ContactName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Customers.ContactName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OrderDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OrderDate)
    </div>*@
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
