@*@model computerbucket.Motherboard_tbl*@
@model IEnumerable<computerbucket.Motherboard_tbl>
<fieldset>
    <legend>Motherboard_tbl</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.motherboard_id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.motherboard_id)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.brand)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.brand)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.model)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.model)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.price)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.price)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.qty_stock)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.qty_stock)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.title)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
