@model IEnumerable<computerbucket.Models.ProductModel>



@foreach (var item in Model)
{
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h5>@Html.DisplayFor(modelItem => item.ProductName)</h5>
        </div>
        <div class="panel-body">
            <img src="@Html.DisplayFor(modelItem => item.ImageUrl)" style="width: 100%; height: 150px;" />
            <span style="font-weight:bold">ID :</span>
            @Html.DisplayFor(modelItem => item.ProductId)
            <br/>   
            <span style="font-weight:bold">Description :</span>
            @Html.DisplayFor(modelItem => item.Description)
            <br />
            <span style="font-weight:bold">Unit price :</span>
            @Html.DisplayFor(modelItem => item.UnitPrice)
            <br/>
            <span style="font-weight:bold">Units in stock :</span>
            @Html.DisplayFor(modelItem => item.UnitsInStock)
           </div>
        </div>


}


