@model computerbucket.OrderItem


<div class="product">
    <div class="row">
        <div class="col-md-2">
            <a href="../Images/ProductImages/@ViewBag.ImageUrl@ViewBag.jpg" class='cloud-zoom' id='zoom1'
                       rel="adjustX: 10, adjustY:-4, softFocus:true">
                <img src="../Images/ProductImages/@ViewBag.ImageUrl@ViewBag.jpg" alt='' align="left" title="" style="width: 150px; height: 150px; background-image:url(/Images/my_computer_w.png)" />
            </a>
        </div>
        <div class="col-md-5">
            <p><b>Computer:</b></p>
            <h4>Built PC @Html.DisplayFor(model => model.BuildPCID)</h4>

        </div>

        <div class="col-md-2">
            <h5>Quantity : @Html.DisplayFor(model => model.Quantity)</h5>
            <br />
            <h5 class="span_red">Price : @Html.DisplayFor(model => model.UnitPrice)</h5>
        </div>
        <div class="col-md-1 ">
            <div class="row text-center">
                <a class="btn btn-primary" onclick="ItemDetails(@Model.ItemID)">Details</a>
            </div><br/>
            <div class=" row text-center">
                @Html.ActionLink("Delete Item", "DeleteItem", "Orders", new { id = @Model.ItemID }, new { @class = "btn btn-danger" })
            </div>
        </div>
    </div>
</div>
