@model computerbucket.OrderItem
<div class="product">
    <div class="row">
        <div class="col-md-2">
            <img src="@ViewBag.ImageUrl" class="productImage" />
        </div>
        <div class="col-md-5">
            <p><b>Computer:</b></p>
            <h4>Pre Build @ViewBag.PcType @Html.DisplayFor(model => model.PreBuildPCID)</h4>
        </div>
        <div class="col-md-2">
            <h5>Quantity : @Html.DisplayFor(model => model.Quantity)</h5>
            <br />
            <h5>Price : @Html.DisplayFor(model => model.UnitPrice)</h5>
        </div>
        <div class="col-md-3" id="product_button_panel">
            <a class="btn btn-primary" onclick="ItemDetails(@Model.ItemID)">Details</a>
            @Html.ActionLink("Delete Item", "DeleteItem", "Orders", new { id = @Model.ItemID }, new { @class = "btn btn-danger" })
        </div>
    </div>
</div>

<div class="modal fade" id="itemDetails" tabindex="-1" role="dialog" aria-labelledby="ItemDetailsLabel" aria-hidden="true">
</div>
