@model computerbucket.OrderItem
<div class="product">
    <div class="row">
        <div class="col-md-2">
            <img class="productImage" src="@Html.DisplayFor(model => model.Product.ImageUrl)" />
        </div>
        <div class="col-md-5">
            <p><b>Product:</b></p>
            <h4>@Html.DisplayFor(model => model.Product.ProductName)</h4>
        </div>
        <div class="col-md-2">
            <h5>Quantity : @Html.DisplayFor(model => model.Quantity)</h5><br />
            <h5 class="span_red">Price : @Html.DisplayFor(model => model.UnitPrice)</h5>
        </div>
        <div id="product_button_panel" class="col-md-3">
            <a class="btn btn-primary">Details</a>
            @Html.ActionLink("Delete Item", "Deleteitem", "Orders", new { id = @Model.ItemID }, new { @class = "btn btn-danger" })
        </div>
    </div>
</div>
