@model IEnumerable<computerbucket.Models.Status>

@if (Model.ToList().Count == 0)
{
    <div class="row text-center">
        <h3>There is no order related to email address entered!</h3>
        <h3>Please insert a valid email address.</h3>
        <h3>Any questions? @Html.ActionLink("Contact us", "Index", "Contact") </h3>
    </div>
}
else
{


    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusField)
            </th>

        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StatusField)
                </td>

            </tr>
        }

    </table>
}