@model computerbucket.Models.CustomerModel

@{
    ViewBag.Title = "Checkout";
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<h2><b>Checkout Page </b>- Insert your personal details</h2>
<div class="row">
    <div class="col-md-6">

        @*    <div class="default_min_height">*@

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <div class="col-md-6">
                <div class="row">
                    @Html.LabelFor(model => model.ContactName, new { @class = "h4" })
                </div>
                <div class="row">
                    @Html.EditorFor(model => model.ContactName, new { @class = "input-xs form-control effect6" })
                </div>
                <div class="row">
                    @Html.ValidationMessageFor(model => model.ContactName, null, new { @class = "label-danger" })
                </div>
                <div class="row">
                    @Html.LabelFor(model => model.Phone, new { @class = "h4" })
                </div>
                <div class="row">
                    @Html.EditorFor(model => model.Phone, new { @class = "input-xs form-control effect6" })
                </div>
                <div class="row">
                    @Html.ValidationMessageFor(model => model.Phone, null, new { @class = "label-danger" })
                </div>

                <div class="row">
                    @Html.LabelFor(model => model.Email, new { @class = "h4" })
                </div>
                <div class="row">
                    @Html.EditorFor(model => model.Email, new { @class = "input-xs form-control effect6" })
                </div>
                <div class="row">
                    @Html.ValidationMessageFor(model => model.Email, null, new { @class = "label-danger" })
                </div>
                <div class="row">
                    @Html.LabelFor(model => model.Address, new { @class = "h4" })
                </div>
                <div class="row">
                    @Html.EditorFor(model => model.Address, new { @class = "input-xs form-control effect6" })
                </div>
                <div class="row">
                    @Html.ValidationMessageFor(model => model.Address, null, new { @class = "label-danger" })
                </div>

            </div>
            <div class="col-md-6">

                <div class="row">
                    @Html.LabelFor(model => model.City, new { @class = "h4" })
                </div>
                <div class="row">
                    @Html.EditorFor(model => model.City, new { @class = "input-xs form-control effect6" })
                </div>
                <div class="row">
                    @Html.ValidationMessageFor(model => model.City, null, new { @class = "label-danger" })
                </div>

                <div class="row">
                    @Html.LabelFor(model => model.Region, new { @class = "h4" })
                </div>
                <div class="row">
                    @Html.EditorFor(model => model.Region, new { @class = "input-xs form-control effect6" })
                </div>
                <div class="row">
                    @Html.ValidationMessageFor(model => model.Region, null, new { @class = "label-danger" })
                </div>

                <div class="row">
                    @Html.LabelFor(model => model.PostalCode, new { @class = "h4" })
                </div>
                <div class="row">
                    @Html.EditorFor(model => model.PostalCode, new { @class = "input-xs form-control effect6" })
                </div>
                <div class="row">
                    @Html.ValidationMessageFor(model => model.PostalCode, null, new { @class = "label-danger" })
                </div>

                <div class="row">
                    @Html.LabelFor(model => model.Country, new { @class = "h4" })
                </div>
                <div class="row">
                    @Html.EditorFor(model => model.Country, new { @class = "input-xs form-control effect6" })
                </div>
                <div class="row">
                    @Html.ValidationMessageFor(model => model.Country, null, new { @class = "label-danger" })
                </div>

            </div>
            
@*@Html.Action("Back to Basket", "Index", "Orders", null, new { @class = "btn-xs btn-danger" })*@
            <div class="row">
                <div class="col-sm-6">
                    <input class="btn-sm btn-primary" value="Register" />
                </div>

                <div class="col-sm-6">
                    <input type="submit" class="btn-sm btn-success" value="Confirm and to Payment" />
                </div>
            </div>
            
            
            
            <br />
            <div class="col-sm-6">
                <div class="row">
                    <br />
                    <button class="btn btn-danger" value="Go to Basket" onclick="location.href='@Url.Action("Index", "Orders")'">
                        Back to Basket
                    </button>
                </div>
            </div>
        

        }


        @*   </div>*@

    </div>

    <div class="col-md-6">
        @Html.Action("_OrderItemsList", new { id = ViewBag.OrderID })
    </div>
</div>
