@model computerbucket.Order

@{
    ViewBag.Title = "Orders!  --- NOT FINISHED, SHOWING DUMP INFORMATION---";
}




<div class="container">

    <h2>@ViewBag.Title</h2>
    <div>
        Date:
    </div>
    @if (Model.OrderID == 1)
    {
        <h3>Your Basket is empty!</h3>
        
    }
    else
    {
        <div class="container">
            @Html.Partial("_OrderItems", Model.OrderItems)
        </div>
    }

    <div class="container">
    </div>

    <p>
        @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
        @Html.ActionLink("Back to List", "Index")

        @Html.ActionLink("Go to Checkout", "Checkout", new { id = Model.OrderID }, new { @class = "btn btn-primary" })
    </p>
</div>
