@model computerbucket.Order

@{
    ViewBag.Title = "Shop Basket";
}


    <div class="pageHeading">
        <div class="container">
            <div class="col-md-12">
                <h2 style="margin-top: 0;">Shop Basket</h2>
                <p>
                    See all your ordered items and details in here.
                </p>
            </div>
        </div>
    </div>


    <div class="container">


        @if (Model.OrderID == 1)
        {
            <h3>Your Basket is empty!</h3>

        }
        else
        {
            <h3>Date: @Html.DisplayFor(model => model.OrderDate) </h3>
            <div class="container">
                @*@Html.Partial("_OrderItems", Model.OrderItems)*@
                @foreach (var item in Model.OrderItems)
                {
                    if (item.ProductID != null)
                    {
                        @Html.Action("_Product", new { item = item });
                    }
                    else if (item.PreBuildPCID != null)
                    {
                        @Html.Action("_PreBuildPC", new { item = item });
                    }
                    else if (item.BuildPCID != null)
                    {
                        @Html.Action("_BuildPC", new { item = item });
                    }
                }
            </div>
            <div class="container text-right">
                @Html.ActionLink("Checkout & Payment", "Checkout", "Orders", null, new { @class = "btn btn-success" })
            </div>
        }


    </div>
<div class="default_min_height">
</div>
