
@using System.Activities.Expressions
@using System.Web.Mvc.Html
@using System.Web.UI.WebControls
@model IEnumerable<computerbucket.Product>
<div class="col-md-4">
    <div class="row">
        <div class="container">
            @if (@ViewBag.Image != null)
            { 
                @*<img src="@ViewBag.Image" style="width: 250px; height: 250px;" />*@
                <a href="../Images/ProductImages/@ViewBag.Image.ToString()@ViewBag.jpg" class='cloud-zoom' id='zoom1'
                       rel="adjustX: 10, adjustY:-4, softFocus:true">
                        <img src="../Images/ProductImages/@ViewBag.Image.ToString()@ViewBag.jpg" alt='' align="left" title="" style="width: 250px; height: 250px; background-image:url(/Images/my_computer_w.png)" />
                    </a>
            }
            else
            {
                <img src="~/Images/my_computer_w.png" style="width: 250px; height: 250px;" />;
            }
            
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="container">
            <h4><b>Price </b> <span  style="color:red"> @ViewBag.Price € </span></h4>
            <br />
            @Html.ActionLink("Add to Basket", "InsertPreBuildPc", "Orders", new { id = ViewBag.PreBuildPCID}, new { @class = "btn btn-primary" })
        </div>
    </div>

</div>

<div class="col-md-8">

    <table class="table table-striped">

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <b>@Html.DisplayFor(modelItem => item.Category.CategoryName)</b>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
            </tr>
        }

    </table>

</div>
