@using Microsoft.Ajax.Utilities
@model IEnumerable<computerbucket.Product>

@{
    ViewBag.Title = "Products";
}
<div class="pageHeading">
    <div class="container">
        <div class="col-md-12">
            <h2 style="margin-top: 0;">Browse all products here</h2>
            <p>
                You can use the search box at the top right corner to find the product
                <br />
                <br />
            </p>
        </div>
    </div>
</div>
<div class="container">
    <div id="productSearchInfo" class="row">
        <div class=" col-md-12">
            @Model.Count(x => true) @ViewBag.searchTerm
        </div>
    </div>

    @foreach (var item in Model)
    {
        <div class="product">
            <div class="row">
                <div class="col-md-2">
                    <a href="../Images/ProductImages/@item.ProductID.ToString()@ViewBag.jpg" class='cloud-zoom' id='zoom1'
                       rel="adjustX: 10, adjustY:-4, softFocus:true">
                        <img src="../Images/ProductImages/@item.ProductID.ToString()@ViewBag.jpg" alt='' align="left" title="" style="width: 150px; height: 150px; background-image:url(/Images/my_computer_w.png)" />
                    </a>
                </div>

                <div class="col-md-5">
                    <h4 style="font-weight:500;">@Html.DisplayFor(modelItem => item.ProductName)</h4>
                    <h5>Price : @Html.DisplayFor(modelItem => item.UnitPrice)</h5>
                </div>

                <div class="col-md-2">
                    Units in Stock : @Html.DisplayFor(modelItem => item.UnitsInStock)<br /><br />
                    Units on Order @Html.DisplayFor(modelItem => item.UnitsOnOrder)

                </div>
                <div class="col-md-1" style="margin-top:3%;">
                    @Html.ActionLink("Add to basket", "InsertProduct", "Orders", new { id = item.ProductID }, new { @class = "btn btn-info" })
                </div>
            </div>
        </div>

    }

</div>